

<table>
  <h1>Vendor Info</h1>


  <thead>
  <tr>
    <th>Vendor Name</th>
    <th>Vendor ID</th>
    <th>Created date</th>

  </tr>
  </thead>

  <tbody>
  <tr valign="top">
  <td><%= vendor.name %></td>
  <td><%= vendor.id %></td>
   <td><%= vendor.created_at %></td>


  </tr>
        </tbody>
</table>
