<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor),class: 'btn-back' %> |
<%= link_to 'Back', vendors_path,class: 'btn-back' %>
